<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="IntBankingV1">

	<listeners>
		<listener class-name="com.intBanking.Utilities.Reporting"/>
	</listeners>
	
	
	<test name="BankingApp Test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.intBanking.testCases.TC_LoginTest_001"/>
			 <!--  <class name="com.intBanking.testCases.TC_LoginDDT_002"/> -->
			<class name="com.intBanking.testCases.TC_AddCustomerTest_003"/>
		</classes>
	</test>
</suite>